.message-alert {
    background-color: aquamarine;
    position:absolute; bottom:0; right:0;
    opacity: 1;
    transition: opacity 1s; 
}

.menu {
    width: 150px;
    height: auto;
    border-left: 1px black groove;
    border-top: 1px black groove;
    border-right: 1px black groove;
    -webkit-box-shadow: 3px 3px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.menu-item {
    width: 150px;
    height: 20px;
    cursor: pointer;
    border-bottom: 1px black groove;
    text-align: center;
    background-color: cornflowerblue;
}

.container {
    overflow:hidden;
}

#col1 {
    float: left;
    width: 20%;
    padding-right: 8px;
}

#col2 {
    float: right;
    width: 80%;
    padding-left: 8px
}

#col1, #col2 {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.custom-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}


.custom-scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #337ab7;
}
